*, ::after, ::before {
  box-sizing: border-box; 
}
html, body, #app{
  height: 100%;
}
body{
  margin: 0;
  font-family: sans-serif;
}
#app{
  display: none;
  flex-direction: column;
  opacity: 0.8;
  user-select: none;
  box-shadow: inset -0.3px 0px 3px 0px #00000066;
}
#app.loaded{
  display: flex;
}
.main, .fullscreen{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.main .top{
  text-align: right;
  padding: 5px;
  height: 35px;
  border-bottom: 1px solid #333;
  justify-content: flex-end;
}
.main .bottom{
  padding: 5px;
  height: 35px;
  border-top: 1px solid #333;
}
.settings{
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 600px;
  margin: 0 auto;
}
.settings .bottom{
  border-top: 1px solid #ddd;
  padding-top: 10px;
  text-align: center;
}

.fullscreen{
  color: #edebeb;
}
.fullscreen.snack{
  background: #000;
}
.fullscreen .bottom{
  height: 60px;
  text-align: center;
  background: #cecece;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}

.scroll{
  height: 100%;
  overflow: auto;
}
.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: xx-large;
  font-weight: 900;
}
.line{
  margin-bottom: 10px;
}
.line>span{
  display: block;
  font-weight: 600;
}

.move{
  -webkit-app-region: drag;
}
.icon{
  margin: 0 3px;
  cursor: pointer;
  text-decoration: none;
  font-weight: 400;
  font-family: apple color emoji,segoe ui emoji,notocoloremoji,segoe ui symbol,android emoji,emojisymbols,emojione mozilla;
  text-shadow: 1px 1px 1px #ffffff;
  font-size: 120%;
  color: #0f0f0f;
}
.icon:hover{
  opacity: 0.7;
}
.icon-red{
  /*color: #f00;*/
  /*text-shadow: 1px 1px 1px #f00;*/
}
.icon-grey{
  /*color: #545454;*/
}
.icon-white{
  /*color: #e8e8e8;*/
}
.icon-green{
  /*color: #00ff6b;*/
}
.icon-black{
  /*color: #000;*/
}

.input{
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px 10px;
  width: 100%;
}
.btn{
  border: 0;
  background: #a7a7a7;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover{
  opacity: 0.8;
}
.btn.big{
  font-size: 80%;
}
.btn-blue{
  background: #1d6dfd;
  color: #fff;
}

.flex{
  display: flex;
}
.flex-wide{
  justify-content: space-between;
}
.w100{
  width: 100%;
}
.left{
  float: left;
}
.bigText{
  font-size: 300%;
}
.center{
  text-align: center;
  padding: 0 10px;
}