<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Time</title>
  <script>
    const ipcRenderer = require('electron').ipcRenderer;
  </script>
  <script type="text/javascript" src="./vue.min.js"></script>
  <script type="text/javascript" src="./time.js"></script>
  <link rel="stylesheet" href="./time.css">
  <link rel="stylesheet" href="./fontawesome/fontawesome.css">
  <link rel="stylesheet" href="./fontawesome/solid.css">
</head>
<body>
  <div id="app" :class="{loaded: keys.loaded}">
    <div class="main" v-if="type == 'main'">
      <div class="top flex">
        <span v-if="status && status.status == 'until' && settings.design == '1'" class="left flex w100">
          <a href="#" class="icon fas fa-stop icon-red" @click="changeStatus($event, 'stop')" :title="'Stop the countdown'|i18n"></a>
          <a href="#" class="icon fas fa-pause icon-grey" @click="changeStatus($event, 'pause')" :title="'Pause the countdown'|i18n"></a>
          <a href="#" class="icon fas fa-utensils icon-green" @click="changeStatus($event, 'snack')" :title="'Go out for a snack'|i18n"></a>
          <a href="#" class="icon fas fa-couch icon-white" @click="changeStatus($event, 'gowait')" :title="'Start break'|i18n"></a>
        </span>
        <a href="#" class="icon move fas fa-arrows-alt icon-black" @click="$event.preventDefault()" @dblclick="$event.preventDefault()" :title="'Move'|i18n"></a>
        <a href="#" class="icon fas fa-eye-slash icon-black" @click="hide($event)" :title="'Fold up'|i18n"></a>
        <a href="#" class="icon fas fa-cogs icon-black" @click="showSettings($event)" :title="'Settings'|i18n"></a>
      </div>
      <div class="center" v-if="status && (status.status == 'until' || status.status == 'pause')">
        <span v-if="status.status == 'until'">{{'Time before the break:'|i18n}}</span>
        <span v-if="status.status == 'pause'">{{`It's pause time:`|i18n}}</span>
      </div>
      <div class="content" v-if="status && status.status == 'until'">
        {{status.timeUntilWait | formatTime}}
      </div>
      <div class="content" v-if="status && status.status == 'stop'">
        <button type="button" @click="changeStatus($event, 'start')" class="btn btn-blue big">{{'Initiate'|i18n}}</button>
      </div>
      <div class="content" v-if="status && status.status == 'pause'">
        <button type="button" @click="changeStatus($event, 'continue')" class="btn btn-blue big">{{'Continue'|i18n}}</button>
      </div>
      <div class="bottom flex flex-wide" v-if="status && status.status == 'until' && settings.design == '2'">
        <a href="#" class="icon fas fa-stop icon-red" @click="changeStatus($event, 'stop')" :title="'Stop the countdown'|i18n"></a>
        <a href="#" class="icon fas fa-pause icon-grey" @click="changeStatus($event, 'pause')" :title="'Pause the countdown'|i18n"></a>
        <a href="#" class="icon fas fa-utensils icon-green" @click="changeStatus($event, 'snack')" :title="'Go out for a snack'|i18n"></a>
        <a href="#" class="icon fas fa-couch icon-white" @click="changeStatus($event, 'gowait')" :title="'Start break'|i18n"></a>
      </div>
    </div>

    <div class="fullscreen" v-if="type == 'fullscreen'" :class="{snack: status.status == 'snack'}">
      <div class="content">
        <div class="center">
          <span v-if="status.status == 'wait'">{{'Take a break, get back to work through:'|i18n}}</span>
          <span v-if="status.status == 'snack'">{{`I'm on a snack, I'll be right back.`|i18n}}</span>
        </div>
        <div class="bigText" v-if="status.status == 'wait'">
          {{status.timeWait | formatTime}}
        </div>
      </div>
      <div class="bottom">
        <a v-if="status.status == 'wait'" href="#" @click="changeStatus($event, 'skipwait')">{{'Put it off for $(settings.timeUntilWaitOnSkipWait) minutes'|i18n}}</a>
        <a v-if="status.status == 'snack'" href="#" @click="changeStatus($event, 'stopsnack')">{{'Finish the snack'|i18n}}</a>
      </div>
    </div>

    <div class="settings" v-if="type == 'settings'">
      <div class="scroll">
        <div class="line">
          <span>{{'Interface language'|i18n}} <a href="" class="icon fas fa-undo-alt" @click="updateI18n($event)"></a></span>
          <select v-model="settings.lang" class="input">
            <option v-if="!i18n['en_US']" value="en_US">en_US</option>
            <option v-for="(lang, i) in Object.keys(i18n)" :value="lang">{{lang}}</option>
          </select>
        </div>
        <div class="line">
          <span>{{'Automatically complete the countdown after'|i18n}}</span>
          <input type="time" class="input" v-model="settings.timeToStop">
        </div>        
        <div class="line">
          <span>{{'Take a break every N minutes'|i18n}}</span>
          <input type="number" class="input" v-model="settings.timeUntilWait">
        </div>
        <div class="line">
          <span>{{'Break (minutes)'|i18n}}</span>
          <input type="number" class="input" v-model="settings.timeWait">
        </div>
        <div class="line">
          <span>{{'The time for which the break is put off'|i18n}}</span>
          <input type="number" class="input" v-model="settings.timeUntilWaitOnSkipWait">
        </div>
        <div class="line">
          <span>{{'Suspend countdown until break when you lock your computer? Default: yes'|i18n}}</span>
          <select v-model="settings.suspendCountdown" class="input">
            <option value="yes">{{'Yes'|i18n}}</option>
            <option value="no">{{'No'|i18n}}</option>
          </select>
        </div>
        <div class="line">
          <span>{{'Main window design, default: 1'|i18n}} {{settings.design}}</span>
          <select v-model="settings.design" class="input">
            <option value="1">Design 1</option>
            <option value="2">Design 2</option>
            <!-- <option value="3">Design 3</option> -->
          </select>
        </div>
      </div>
      
      <div class="bottom">
        <button type="button" class="btn btn-blue" @click="saveSettings($event)">{{'Save'|i18n}}</button>
      </div>
    </div>
  </div>
</body>
</html>